<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<button onclick="logout()">Logout</button>

<script>
function logout() {
    // Clear saved session
    localStorage.removeItem("userSession");

    // Redirect to login page
    window.location.href = "/";
}
</script>
<h1>Admin Dashboard</h1>

{% for table, rows in db_data.items() %}

    <h2>{{ table }}</h2>

    <table border="1">
        <tr>
            {% if rows %}
                {% for column in rows[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            {% endif %}
        </tr>

        {% for row in rows %}
        <tr>
            {% for value in row.values() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

{% endfor %}

</body>
</html>